edating1 {
  position:relative;
  display:grid;
  grid-template-areas:
    "dating-top dating-top"
    "dating-img dating-buttons"
    "dating-info dating-buttons"
    "dating-about dating-about";
  grid-template-rows: auto auto auto auto;
  grid-template-columns:auto 100px;
  margin:30px auto;
  width:400px;
  background:var(--white3-hex);
  border-radius:30px;
  border:1px solid var(--gray-hex);
  overflow:hidden;
}

edating1 dating-top {
  grid-area:dating-top;
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:30px;
  background:var(--white2-hex);
  color: var(--fontaccent1);
  border-bottom:1px solid var(--gray-hex);
}

edating1 dating-top span {
  font:800 13px var(--sans);
  text-transform: uppercase;
  padding:5px 0;
  color:var(--black-hex);
  border-bottom:1px dashed var(--fontaccent1);
}


edating1 dating-img {
  grid-area: dating-img;
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  padding:30px;
  background:var(--white-hex);
}

edating1 dating-img img {
  border-radius:15px;
  width:100%;
  padding:7px;
  background:linear-gradient(to bottom left, var(--pastelgradient));
}

edating1 dating-buttons {
  grid-area:dating-buttons;
  position:relative;
  display:flex;
  flex-flow:column;
  justify-content: space-around;
  align-items: center;
  background:linear-gradient(to bottom, var(--pastelgradient));
  border-left:1px solid var(--gray-hex);
}

edating1 dating-buttons i {
  padding:20px;
  background:var(--white-hex);
  color: var(--fontaccent1);
  border-radius:5px;
}

edating1 dating-buttons i:nth-child(2) {
  color: var(--fontaccent2);
}

edating1 dating-buttons i:nth-child(3) {
  color: var(--fontaccent3);
}

edating1 dating-info {
  grid-area:dating-info;
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  gap:5px;
  padding:20px;
  border-top:1px solid var(--gray-hex);
}

edating1 dating-info x {
  flex-grow:1;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:7px;
  background:var(--faint1);
  border-radius:5px;
  font:600 10px var(--sans);
  text-transform: uppercase;
}

edating1 dating-info x:nth-child(2) {
  background:var(--faint2);
}

edating1 dating-info x:nth-child(3) {
  background:var(--faint3);
}

edating1 .dating-about {
  grid-area: dating-about;
  position:relative;
  display:block;
  padding:30px;
  background:var(--white2-hex);
  border-top:1px solid var(--gray-hex);
}

edating1 .dating-about .overflow {
  background:var(--white-hex);
  border:1px solid var(--gray-hex);
  border-radius:10px;
}

edating1 .dating-about .overflow overflow {
  max-height:150px;
  padding:0 20px;
  border-top:20px solid var(--clear);
  border-right:20px solid var(--clear);
  border-bottom:20px solid var(--clear);
}

edating1 edating1 .dating-about .overflow b {
  font:800 15px var(--sans);
  color:var(--fontaccent1);
  border-bottom:1px dashed var(--black-hex);
}

edating1 .dating-about .overflow i {
  color:var(--fontaccent2);
}

edating1 .dating-about .overflow u, edating1 .dating-about .overflow a {
  font:800 17px var(--display);
  text-transform:lowercase;
  text-decoration: underline;
  text-decoration-color: var(--fontaccent3);
}


edating1-swipe {
  position:relative;
  display:grid;
  grid-template-areas:
    "dating-top"
    "dating-img"
    "dating-message";
  grid-template-rows: auto auto;
  margin:30px auto;
  width:350px;
  background:var(--white3-hex);
  border-radius:10px;
  border:1px solid var(--gray-hex);
  overflow:hidden;
}

edating1-swipe dating-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  background:var(--white2-hex);
  color: var(--fontaccent1);
  border-bottom:1px solid var(--gray-hex);
}

edating1-swipe dating-top span {
  font:800 13px var(--sans);
  text-transform: uppercase;
  padding:5px 0;
  color:var(--black-hex);
  border-bottom:1px dashed var(--fontaccent1);
}


edating1-swipe dating-img {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content:space-between;
  align-items: center;
  gap:10px;
  padding:20px;
  background:linear-gradient(to bottom left, var(--pastelgradient));
}

edating1-swipe dating-img img {
  border-radius:15px;
  width:80px;
  height:80px;
  padding:7px;
  background:var(--white-hex);
}

edating1-swipe dating-img name {
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: flex-end;
  gap:10px;
}

edating1-swipe dating-img name span {
  font:800 italic 25px var(--display);
  border-bottom:1px dashed var(--black-hex);
}

edating1-swipe dating-img name x {
  font:600 11px var(--sans);
  text-transform:uppercase;
}


edating1-swipe.swipe-right dating-img name x::before {
  content:"just swiped right on you!";
}

edating1-swipe.swipe-left dating-img name x::before {
  content:"just swiped left on you!";
}

edating1-swipe.swipe-superlike dating-img name x::before {
  content:"just super liked you!";
}

edating1-swipe.swipe-match dating-img name x::before {
  content:"just matched with you!";
}

edating1-swipe dating-message {
  grid-column: 1 / -1;
  display:flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding:10px;
  text-align:center;
  text-transform:uppercase;
  font:600 13px var(--sans);
  border-top:1px solid var(--gray-hex);
}

edating1-swipe dating-message span {
  background:linear-gradient(to left, var(--fontgradient));
  -webkit-background-clip:text;
  color:rgba(0,0,0,0);
}

edating1-swipe dating-message span:hover {
  background:linear-gradient(to right, var(--fontgradient));
  -webkit-background-clip:text;
  color:rgba(0,0,0,0);
}

edating1-swipe.swipe-right dating-message a span::before,
edating1-swipe.swipe-left dating-message a span::before,
edating1-swipe.swipe-superlike dating-message a span::before {
 content: "view their profile!";
}

edating1-swipe.swipe-match dating-message a span::before {
  content: "start a message now!";
}
