ereq1 {
  position:relative;
  display:grid;
  grid-template-rows: auto auto auto auto auto;
  background:linear-gradient(to bottom, var(--pastelgradient));
  margin:30px auto;
  width:470px;
  border-radius:10px;
  border:1px solid var(--gray-hex);
  overflow:hidden;
}

ereq1 ereq1-top {
  display:flex; 
  flex-flow:row;
  justify-content: center;
  align-items: center;
  padding:30px;
  background:var(--white-hex);
  border-bottom:1px solid var(--gray-hex);
}

ereq1 ereq1-top span {
  font:800 italic 25px var(--display);
  color:var(--fontaccent1);
  border-bottom:1px dashed var(--black-hex);
}

ereq1 ereq1-img {
  background:var(--white3-hex);
  padding:30px;
  border-bottom:1px solid var(--gray-hex);
}

ereq1 ereq1-img img {
  width:100%;
  height:200px;
  margin:20px auto;
  padding:7px;
  background:linear-gradient(to bottom right, var(--pastelgradient));
  border-radius:15px;
}

ereq1 ereq1-details {
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  align-items: center;
  gap:5px;
  padding:20px;
  background:var(--white2-hex);
  border-bottom:1px solid var(--gray-hex);
}

ereq1 ereq1-details x {
  flex-grow:1;
  font:600 11px var(--sans);
  text-transform:uppercase;
  background:var(--white-hex);
  background:var(--faint1);
  padding:7px;
  border-radius:5px;
}

ereq1 ereq1-details x:nth-child(odd) {
  background:var(--faint2);
}

ereq1 .ereq1-desc {
  margin:20px;
  padding:20px;
  background:var(--white-hex);
  border:1px solid var(--gray-hex);
  border-radius:10px;
}

ereq1 .ereq1-desc b, ereq1 .character-desc b {
  font:800 15px var(--sans);
  color:var(--fontaccent1);
  border-bottom:1px dashed var(--black-hex);
}

ereq1 .ereq1-desc i,  ereq1 .character-desc i {
  color:var(--fontaccent2);
}

ereq1 .ereq1-desc u, ereq1 .ereq1-desc a,  ereq1 .character-desc u,  ereq1 .character-desc a {
  font:800 italic 17px var(--display);
  text-transform:lowercase;
  text-decoration: underline;
  text-decoration-color: var(--fontaccent1);
}

ereq1 ereq1-characters {
  display:flex;
  flex-flow:column;
  gap:10px;
  background:var(--white3-hex);
  padding:20px;
}

ereq1 ereq1-characters character {
  display:grid;
  grid-template-rows: auto auto;
  grid-gap:7px;
  background:var(--white-hex);
  border-radius:10px;
  border:1px solid var(--gray-hex);
}

ereq1 ereq1-characters character character-top {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
}

ereq1 ereq1-characters character character-top img {
  width:70px;
  height:70px;
  padding:5px;
  background:linear-gradient(to right, var(--pastelgradient));
  border-radius:15px;
}

ereq1 ereq1-characters character character-top character-detail {
  display:flex;
  flex-flow:column;
  justify-content: center;
  text-align:right;
}

ereq1 ereq1-characters character character-top character-detail b {
  font:800 20px var(--sans);
  color:var(--fontaccent2);
  text-transform:lowercase;
}

ereq1 ereq1-characters character character-top character-detail i {
  font:500 11px var(--sans);
  text-transform: uppercase;
}

ereq1 ereq1-characters character .character-desc {
  padding: 20px;
  border-top:1px solid var(--gray-hex);
}

ereq1 ereq1-characters character .character-desc overflow {
  max-height:100px;
  overflow:auto;
}
