ethread1 {
  position:relative;
  display:grid;
  grid-template-rows: auto auto auto;
  margin:30px auto;
  width:350px;
  padding:30px;
  background:var(--white-hex);
  border-radius:20px;
  box-shadow: 0 0 10px 10px rgba(var(--gray),0.25);
  overflow:hidden;
}

ethread1 ethread1-img {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  margin:10px auto;
  padding:5px;
  background:linear-gradient(to right, var(--pastelgradient));
  border-radius:10px;
}

ethread1 img {
  width:80px;
  height:80px;
  border-radius:10px;
}

ethread1 ethread1-img.circle {
  border-radius:100%;
}

ethread1 ethread1-img.circle img {
  border-radius:100%;
}

ethread1 .writing {
  margin:30px;
}

ethread1 .writing b {
  color:var(--fontaccent1);
}

ethread1 .writing i {
  color:var(--fontaccent2);
}

ethread1 .writing u {
  font:400 italic 15px var(--display);
  text-decoration-color:var(--fontaccent3);
}

ethread1 .writing a {
  font:400 italic 15px var(--display);
  color:var(--fontaccent3);
}

ethread1 .writing overflow {
  display:block;
  max-height:300px;
  overflow:auto;
}

ethread1 tag {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  padding:5px 15px;
  background:linear-gradient(to right, var(--pastelgradient));
  border-radius:20px;
}

ethread1 tag a {
  margin:0 auto;
  font:800 11px var(--sans);
  color:var(--white-hex);
  text-transform: uppercase;
}
